.nav-bar a {
  display: inline-block;
  color: #fff;
  padding: 0 15px;
  text-decoration: none;
  font-size: 16px;
  line-height: 40px;
  vertical-align: middle;
}

.nav-bar {
  width: 100vw;
  background: #000;
  height: 40px;

  .active {
    background-color: rgb(7, 148, 243);
  }
}
