.global-mask {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: black;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  z-index: 999;

  span {
    font-size: 50px;
    color: white;
  }
}
