.create-goods-form-wrapper {
  background-color: #fff;
  padding: 15px;

  h1 {
    font-size: 24px;
    text-align: center;
  }

  form {
    section {
      margin-bottom: 15px;

      label {
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
        &:before {
          content: '*';
          color: red;
        }
      }

      input {
        width: 100%;
        line-height: 24px;
      }
    }

    button {
      background-color: rgb(7, 148, 243);
      border: none;
      outline: none;
      border-radius: 4px;
      color: white;
      width: 40px;
      height: 20px;
    }
  }
}