.goods-list {
  background: #fff;
  display: flex;
  flex-wrap: wrap;

  .goods-item {
    margin: 15px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    width: 300px;

    .img {
      width: 100%;
      height: 200px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    h1 {
      font-size: 24px;
      font-weight: normal;
    }

    span {
      font-size: 14px;
      color: #808080;
    }

    .add-btn {
      font-size: 2em;
      display: block;
      float: right;
    }
  }
}