.order-wrapper {
  margin: 15px;
  border-radius: 4px;
  background-color: white;

  table {
    width: 100%;
    text-align: center;
    thead {
      background-color: #fafafa;
    }

    tr {
      height: 40px;
    }

    tr:nth-child(even) {
      border: 1px solid #fafafa;
    }
  }
}